---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/42
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"rate":{"remaining":222}}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"name":"foo","full_name":"foo/foo","private":false,"created_at":"2024-07-11
        20:35:25 UTC","updated_at":"2024-09-23 07:23:36 UTC","pushed_at":"2024-09-23
        20:22:51 UTC","size":19366,"stargazers_count":1,"forks":1,"default_branch":"master"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/yegor256/empty-repo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"name":"yegor256","full_name":"yegor256/empty-repo","private":false,"created_at":"2024-07-10
        20:35:25 UTC","updated_at":"2024-09-22 07:23:36 UTC","pushed_at":"2024-09-22
        20:22:51 UTC","size":0,"stargazers_count":0,"forks":0,"default_branch":"master"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/releases?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/yegor256/empty-repo/releases?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/git/trees/master?recursive=true
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"sha":"abc012345f","tree":[],"truncated":false}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/contributors?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '[{"login":"yegor256","id":526301,"type":"User","contributions":500},{"login":"renovate[bot]","id":29139614,"type":"Bot","contributions":320},{"login":"user1","id":2476362,"type":"User","contributions":120},{"login":"rultor","id":8086956,"type":"Bot","contributions":87},{"login":"user2","id":1455229,"type":"User","contributions":65},{"login":"user3","id":3411938,"type":"User","contributions":45},{"login":"bot1","id":4122600,"type":"Bot","contributions":40},{"login":"user4","id":2117778,"type":"User","contributions":32},{"login":"user5","id":5427638,"type":"User","contributions":25},{"login":"user6","id":2648875,"type":"User","contributions":10},{"login":"user7","id":7125293,"type":"User","contributions":1},{"login":"bot2","id":4199655,"type":"Bot","contributions":1}]'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/search/commits?per_page=100&q=repo:foo/foo%20author-date:%3E2024-08-30
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/search/commits?per_page=100&q=repo:yegor256/empty-repo%20author-date:%3E2024-08-30
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
