---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/42
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"rate":{"remaining":222}}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"name":"foo","full_name":"foo/foo","private":false,"created_at":"2024-07-11
        20:35:25 UTC","updated_at":"2024-09-23 07:23:36 UTC","pushed_at":"2024-09-23
        20:22:51 UTC","size":19366,"stargazers_count":1,"forks":1,"default_branch":"master"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/releases?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '[{"id":50,"tag_name":"0.0.9","draft":false,"published_at":"2024-08-22
        21:00:00 UTC"},{"id":44,"tag_name":"0.0.8","draft":false,"published_at":"2024-08-19
        21:00:00 UTC"},{"id":32,"tag_name":"0.0.7","draft":false,"published_at":"2024-08-15
        21:00:00 UTC"},{"id":25,"tag_name":"0.0.6","draft":false,"published_at":"2024-08-14
        21:00:00 UTC"},{"id":18,"tag_name":"0.0.5","draft":false,"published_at":"2024-08-12
        21:00:00 UTC"},{"id":12,"tag_name":"0.0.4","draft":true,"published_at":"2024-08-10
        21:00:00 UTC"},{"id":5,"tag_name":"0.0.3","draft":false,"published_at":null},{"id":3,"tag_name":"0.0.2","draft":false,"published_at":"2024-08-03
        21:00:00 UTC"},{"id":1,"tag_name":"0.0.1","draft":false,"published_at":"2024-07-25
        21:00:00 UTC"}]'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/git/trees/master?recursive=true
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"sha":"abc012345f","tree":[],"truncated":false}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/contributors?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/search/commits?per_page=100&q=repo:foo/foo%20author-date:%3E2024-08-30
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
