---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/42
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"name":"foo","full_name":"foo/foo","private":false,"created_at":"2024-07-11
        20:35:25 UTC","updated_at":"2024-09-23 07:23:36 UTC","pushed_at":"2024-09-23
        20:22:51 UTC","size":1,"stargazers_count":1,"forks":1,"default_branch":"master"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/releases?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/git/trees/master?recursive=true
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"sha":"abc","tree":[],"truncated":false}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/contributors?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/search/commits?per_page=100&q=repo:foo/foo%20author-date:%3E2024-08-30
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
