---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/42
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"rate":{"remaining":222}}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"name":"foo","full_name":"foo/foo","private":false,"created_at":"2024-07-11
        20:35:25 UTC","updated_at":"2024-09-23 07:23:36 UTC","pushed_at":"2024-09-23
        20:22:51 UTC","size":19366,"stargazers_count":1,"forks":1,"default_branch":"master"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/yegor256/empty-repo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"name":"yegor256","full_name":"yegor256/empty-repo","private":false,"created_at":"2024-07-10
        20:35:25 UTC","updated_at":"2024-09-22 07:23:36 UTC","pushed_at":"2024-09-22
        20:22:51 UTC","size":0,"stargazers_count":0,"forks":0,"default_branch":"master"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/releases?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/yegor256/empty-repo/releases?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/git/trees/master?recursive=true
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"sha":"492072971ad3c8644a191f","tree":[{"path":".github","mode":"040000","type":"tree","sha":"438682e07e45ccbf9ca58f294a"},{"path":".github/workflows","mode":"040000","type":"tree","sha":"dea8a01c236530cc92a63c5774"},{"path":".github/workflows/actionlint.yml","mode":"100644","type":"blob","sha":"ffed2deef2383d6f685489b289","size":1671},{"path":".github/workflows/copyrights.yml","mode":"100644","type":"blob","sha":"ab8357cfd94e0628676aff34cd","size":1293},{"path":".github/workflows/zerocracy.yml","mode":"100644","type":"blob","sha":"5c224c7742e5ebeeb176b90605","size":2005},{"path":".gitignore","mode":"100644","type":"blob","sha":"9383e7111a173b44baa0692775","size":27},{"path":".rubocop.yml","mode":"100644","type":"blob","sha":"cb9b62eb1979589daa18142008","size":1963},{"path":"README.md","mode":"100644","type":"blob","sha":"8011ad43c37edbaf1969417b94","size":4877},{"path":"Rakefile","mode":"100644","type":"blob","sha":"a0ac9bf2643d9f5392e1119301","size":1805}],"truncated":false}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/contributors?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/search/commits?per_page=100&q=repo:foo/foo%20author-date:%3E2024-08-30
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/search/commits?per_page=100&q=repo:yegor256/empty-repo%20author-date:%3E2024-08-30
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
