# SPDX-FileCopyrightText: Copyright (c) 2024-2025 Zerocracy
# SPDX-License-Identifier: MIT
[submodule "calc_coverage/pure_bash_coverage"]
	path = calc_coverage/pure_bash_coverage
	url = https://github.com/ostvld/pure_bash_coverage.git 
