---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/42
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"name":"foo","full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/issues/44/timeline?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '[{"id":100,"actor":{"id":421,"login":"alice"},"event":"assigned","created_at":"2025-09-30
        05:00:00 UTC"},{"id":101,"actor":{"id":421,"login":"alice"},"event":"labeled","created_at":"2025-09-30
        06:00:00 UTC","label":{"name":"bug","color":"d73a4a"}},{"id":102,"actor":{"id":421,"login":"alice"},"event":"labeled","created_at":"2025-09-30
        06:10:00 UTC","label":{"name":"enhancement","color":"a2eeef"}},{"id":103,"actor":{"id":422,"login":"bob"},"event":"labeled","created_at":"2025-09-30
        06:20:00 UTC","label":{"name":"question","color":"d876e3"}},{"id":104,"actor":{"id":422,"login":"bob"},"event":"labeled","created_at":"2025-09-30
        06:30:00 UTC","label":{"name":"wontfix","color":"ffffff"}}]'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
