---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/42
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/pulls/99
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":99,"number":99,"user":{"id":421,"login":"user"},"created_at":"2025-09-01
        15:35:30 UTC","additions":1,"deletions":2}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/pulls/99/reviews?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 403
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"message":"Resource not accessible by integration"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/pulls/100/reviews?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '[{"id":50100,"user":{"id":422,"login":"user2"},"submitted_at":"2025-09-02
        10:39:20 UTC"}]'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/issues/100/comments?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/pulls/100/reviews/50100/comments?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/user/421
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":421,"login":"user1"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
[...]
