---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/#{id}
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"rate":{"limit":60,"remaining":59,"reset":1728464472,"used":1,"resource":"core"}}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
