---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/foo/missing
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"message":"Not Found"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/blocked
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 403
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"message":"Forbidden"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/good
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/good","open_issues":0,"size":100}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
