---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/42
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repositories/42/events?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '[{"id":"40623323541","type":"PullRequestReviewEvent","public":true,"created_at":"2024-07-31
        12:45:09 UTC","actor":{"id":42,"login":"torvalds","display_login":"torvalds","gravatar_id":""},"repo":{"id":42,"name":"yegor256/judges"},"payload":{"action":"created","review":{"id":2210067609,"user":{"login":"torvalds","id":42,"type":"User"},"state":"approved"},"pull_request":{"id":1990323142,"number":93}}},{"id":"40623323542","type":"PullRequestReviewEvent","public":true,"created_at":"2024-07-31
        12:45:09 UTC","actor":{"id":43,"login":"yegor256","display_login":"yegor256"},"repo":{"id":42,"name":"yegor256/judges"},"payload":{"action":"created","review":{"id":2210067609,"user":{"login":"yegor256","id":43,"type":"User"},"state":"commented"},"pull_request":{"id":1990323142,"number":93}}}]'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/user/42
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"login":"torvalds"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/pulls/93
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"user":{"login":"test","id":526200,"type":"User","site_admin":false},"default_branch":"master","additions":1,"deletions":1,"comments":1,"review_comments":2,"commits":2,"changed_files":3}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
