---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"name":"foo","full_name":"foo/foo","default_branch":"master"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/42
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"name":"foo","full_name":"foo/foo","default_branch":"master"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repositories/42/events?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '[{"id":6,"created_at":"2026-06-01 10:00:00 UTC","actor":{"id":42},"type":"CreateEvent","repo":{"id":42},"payload":{"ref_type":"tag","ref":"foo"}},{"id":5,"created_at":"2026-06-01
        10:00:00 UTC","actor":{"id":42},"type":"CreateEvent","repo":{"id":42},"payload":{"ref_type":"tag","ref":"foo"}},{"id":4,"created_at":"2026-06-01
        10:00:00 UTC","actor":{"id":42},"type":"CreateEvent","repo":{"id":42},"payload":{"ref_type":"tag","ref":"foo"}},{"id":3,"created_at":"2026-06-01
        10:00:00 UTC","actor":{"id":42},"type":"CreateEvent","repo":{"id":42},"payload":{"ref_type":"tag","ref":"foo"}},{"id":2,"created_at":"2026-06-01
        10:00:00 UTC","actor":{"id":42},"type":"CreateEvent","repo":{"id":42},"payload":{"ref_type":"tag","ref":"foo"}},{"id":1,"created_at":"2026-06-01
        10:00:00 UTC","actor":{"id":42},"type":"CreateEvent","repo":{"id":42},"payload":{"ref_type":"tag","ref":"foo"}}]'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/user/42
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"login":"torvalds"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
