---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/42
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repositories/42/events?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '[{"id":"10","type":"ReleaseEvent","actor":{"id":8086956,"login":"rultor","display_login":"rultor"},"repo":{"id":42,"name":"foo/foo","url":"https://api.github.com/repos/foo/foo"},"payload":{"action":"published","release":{"id":471000,"author":{"login":"rultor","id":8086956,"type":"User","site_admin":false},"tag_name":"0.0.3","name":"v0.0.3","created_at":"2024-08-05
        00:51:39 UTC","published_at":"2024-08-05 00:52:07 UTC"}},"public":true,"created_at":"2024-08-06
        00:52:08 UTC","org":{"id":24234201,"login":"foo"}}]'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/releases/470000
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":470000,"tag_name":"0.0.2","target_commitish":"master","name":"v0.0.2","draft":false,"prerelease":false,"created_at":"2024-08-02
        21:45:00 UTC","published_at":"2024-08-02 21:45:00 UTC","body":"0.0.2 release"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/compare/0.0.2...0.0.3?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"total_commits":3,"commits":[{"sha":"a50489ead5e8aa6","author":{"login":"Yegorov","id":2566462}},{"sha":"b50489ead5e8aa7","author":{"login":"Yegorov64","id":2566463}},{"sha":"89ead5eb5048aa7","author":{"login":"Yegorov128","id":2566464}}],"files":[{"additions":15,"deletions":40,"changes":55}]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/user/8086956
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"login":"rultor","id":8086956}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
