---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/42
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"name":"foo","full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/pulls/44
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":50,"number":44,"user":{"id":421,"login":"user"},"state":"closed","closed_at":"2025-09-30
        18:00:00 UTC","closed_by":{"login":"user2","id":422},"created_at":"2025-09-30
        15:35:30 UTC","additions":12,"deletions":5,"head":{"ref":"40","sha":"aa123"},"base":{"repo":{"id":42,"full_name":"foo/foo"}}}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/issues/44
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"number":50,"title":"some title 50","state":"closed","closed_at":"2025-09-30
        18:00:00 UTC","closed_by":{"login":"user2","id":422}}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/pulls/44/reviews?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '[{"id":123,"user":{"id":422,"login":"user2"},"body":"Look good!","submitted_at":"2025-09-29
        05:05:46 UTC"},{"id":124,"user":{"id":421,"login":"user"},"body":"","submitted_at":"2025-09-29
        05:55:00 UTC"},{"id":125,"user":{"id":421,"login":"user"},"body":"","submitted_at":"2025-09-29
        05:57:00 UTC"},{"id":126,"user":{"id":422,"login":"user2"},"body":"","submitted_at":"2025-09-29
        06:00:00 UTC"},{"id":127,"user":{"id":422,"login":"user2"},"body":"Perfect!","submitted_at":"2025-09-29
        06:45:00 UTC"}]'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/pulls/44/reviews/123/comments?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '[{"id":22099,"pull_request_review_id":123,"diff_hunk":"@@ -93,4 +93,65
        @@ def some_func...","path":"lib/some/path/file.rb","commit_id":"3e695","body":"Some
        question0","created_at":"2025-09-29 05:05:00 UTC","user":{"id":422,"login":"user2"}},{"id":22100,"pull_request_review_id":123,"diff_hunk":"@@
        -93,4 +93,65 @@ def some_func1...","path":"lib/some/path/file1.rb","commit_id":"3e695","body":"Some
        question1","created_at":"2025-09-29 05:06:00 UTC","user":{"id":422,"login":"user2"}},{"id":22101,"pull_request_review_id":123,"diff_hunk":"@@
        -93,4 +93,65 @@ def some_func2...","path":"lib/some/path/file2.rb","commit_id":"3e695","body":"Some
        question2","created_at":"2025-09-29 05:07:00 UTC","user":{"id":422,"login":"user2"}}]'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/pulls/44/reviews/124/comments?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '[{"id":22103,"pull_request_review_id":124,"diff_hunk":"@@ -93,4 +93,65
        @@ def some_func...","path":"lib/some/path/file1.rb","commit_id":"3e695","body":"Some
        answer1","created_at":"2025-09-29 05:45:00 UTC","user":{"id":421,"login":"user"},"in_reply_to_id":22100}]'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/pulls/44/comments?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/issues/44/comments?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/pulls/comments/100/reactions
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/commits/aa123/check-runs?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"check_runs":[]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
