---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/42
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"id":42,"full_name":"foo/foo"}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"rate":{"remaining":222}}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/actions/runs?created=2024-08-02T21:00:00Z..2024-08-09T21:00:00Z&per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"total_count":0,"workflow_runs":[]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/releases?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '[{"id":173480,"author":{"login":"yegor256","id":526301,"type":"User","site_admin":false},"tag_name":"0.0.6","target_commitish":"master","name":"Release
        6","draft":false,"prerelease":false,"created_at":"2024-08-15 07:30:14 UTC","published_at":"2024-08-15
        07:30:40 UTC","assets":[],"body":"Some description","mentions_count":4},{"id":173470,"author":{"login":"yegor256","id":526301,"type":"User","site_admin":false},"tag_name":"0.0.5","target_commitish":"master","name":"Release
        5","draft":false,"prerelease":false,"created_at":"2024-08-06 07:30:14 UTC","published_at":"2024-08-06
        07:30:40 UTC","assets":[],"body":"Some description","mentions_count":4},{"id":173465,"author":{"login":"yegor256","id":526301,"type":"User","site_admin":false},"tag_name":"0.0.nil","target_commitish":"master","name":"Draft
     [...]
- request:
    method: get
    uri: https://api.github.com/repos/foo/foo/compare/0.0.2...0.0.3?per_page=100
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"total_commits":1,"commits":[{"sha":"ee04386901692ab0"}],"files":[{"sha":"9e100c7246c0cc9","filename":"file.txt","status":"modified","additions":10,"deletions":10,"changes":20,"patch":"@@
        -24,7 +24,7 @@ text ..."},{"sha":"f97818271059e5455","filename":"file2.txt","status":"modified","additions":15,"deletions":17,"changes":32,"patch":"@@
        -25,7 +25,7 @@ text ..."}]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=repo:foo/foo%20type:pr%20closed:%3E2024-08-02
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?advanced_search=true&per_page=100&
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"total_count":0,"items":[]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
[...]
