# SPDX-FileCopyrightText: Copyright (c) 2024-2025 Zerocracy
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: up
'on':
  push:
    branches:
      - master
    tags:
      - '*'
jobs:
  up:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: ./.github/actions/update-version
        with:
          owner: ${{ github.repository_owner }}
          repo: judges-action
      - uses: ./.github/actions/update-version
        with:
          owner: ${{ github.repository_owner }}
          repo: pages-action
      - uses: peter-evans/create-pull-request@v7
        with:
          sign-commits: true
          branch: version-up
          commit-message: 'new version in README'
          delete-branch: true
          title: 'New version in README'
          assignees: yegor256
          base: master
