# SPDX-FileCopyrightText: Copyright (c) 2024-2026 Zerocracy
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: zerocracy
'on':
  schedule:
    - cron: '11 * * * *'
concurrency:
  group: zerocracy
  cancel-in-progress: false
permissions:
  contents: write
jobs:
  zerocracy:
    if: github.repository_owner == 'zerocracy'
    runs-on: ubuntu-24.04
    timeout-minutes: 55
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: zerocracy/judges-action@0.17.10
        with:
          token: ${{ secrets.ZEROCRACY_TOKEN }}
          github-token: ${{ secrets.PAT }}
          repositories: yegor256/judges,yegor256/factbase,zerocracy/*,zerocracy/baza,yegor256/0rsk
          factbase: zerocracy.fb
          timeout: 30
          lifetime: 40
          cycles: 1
          options: |
            sqlite_cache_maxvsize=200K
            sqlite_cache_maxsize=200Mb
      - uses: zerocracy/pages-action@0.6.3
        with:
          github-token: ${{ secrets.PAT }}
          factbase: zerocracy.fb
          output: pages
      - uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4.8.0
        with:
          folder: pages
          clean: false
